.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

div[class^="grid"]{
    border: 1px solid black;
}

/* .grid-item1{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: span 2;
} */

/* .grid-item1{
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
} */
.grid-item1{
    background-color: green;
    grid-column: 1/3;
}