.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
}

.grid-item1{
    grid-area: header;
}

.grid-item2{
    grid-area: main;
}

.grid-item3{
    grid-area: sidebar;
}

.grid-item4{
    grid-area: footer;
}

div[class^="grid"]{
    border: 1px solid black;
}