 *{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 500px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    width: 300px;
    height: 200px;
    border: 1px solid red;
    background-color: beige;
    text-align: center;
    line-height: 200px;
    margin-bottom: 20px;
}

.box2 {
    width: 300px;
    height: 200px;
    border: 1px solid green;
    background-color: beige;
    margin-top: 20px;
    padding: 80px;  /*box sizing */

}

