.container{
    width: 90%;
    margin-left: auto ;
    margin-right: auto;
    border: 1px solid black ;
    height: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;

}

div[class^="box"]{
    width: 100px;
    height:100px ;
    margin: 5 5px;
    background-color: lightblue;
}