.container-flex{
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item-1{
    background-color: aqua;
    flex: 1 0 200px;
}

.flex-item-2{
    background-color: brown;
    flex: 1 0 200px;
}

.flex-item-3{
    background-color: blueviolet;
    flex: 0 0 200px;
}