* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width:98%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #762124;
}

.logo > img {
  height: 120px;
  width: auto;
}

nav {
  width: 550px;
  /* background-color: aqua; */
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  list-style: none;
}

nav > ul > li > a {
  /* background-color: green; */
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav > ul >li:last-of-type {
  margin-right: 55px;
}

.dropdown {
  position: relative
}

.dropdown:hover > .dropdown-content{
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:20px;
  left:10px;
  width: 120px;
  background-color: lightblue;
  list-style: none;

  flex-direction: column;

}

.home-img {
  overflow: hidden;
  height: calc(97vh - 120px);
  background-image: url('../../img/tep-aueb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-title {
  width: 55%;
  color:white;
  font-size:2.5rem;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mt-2 {
  margin-top:20px;
}

.mb-2 {
  margin-bottom: 20px;
}

footer {
  display: flex;
  height: 150px;
  background-color: #762124;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10px;
}

.navbar-toggler {
  display: none;
  margin-right: 40px;
}

.menu-toggler {
  display:none;
}

@media (max-width:992px) {
  nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }
}

/* Add for javascript */
.hidden {
  display: none;
}

.show {
  display: block;
}