.container {
    border: 2px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.auebimg    {
    width: 400px;
    height: auto;
    vertical-align: middle;
}

.nav  {
    display: inline-block;
    vertical-align: middle ;
}

.nav li  {  /*mesa sth classh nav oti elements vreis*/
display: inline-block;
margin-right: 20px;
}

.nav li:first-child{
    margin-left: 25px;
}

.nav a{
    text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

.nav a:hover{
    color: goldenrod
};

.mt-5{
    margin-top: 5px;
}

nav{
    display: inline-block;
    vertical-align: middle;
}
nav li {
    display: inline-block;
    margin-right: 20px;
}

nav li:first-child{
    margin-left: 25px;
}

nav a {
     text-decoration: none;
    background-color: aqua;
    padding: 15px 5px;
    font-size: 1.2rem;
    color: black;
}

nav a:hover{
    color: goldenrod
}