.box1 {
    width: 200px;
    height: 200px;
    background-color: red;
    /* optional: add transition example */
    transition: width 3s ease-in;
}

.box1:hover {
    width: 500px;
}

.box2{
    width: 200px;
    height: 200px;
    background-color: green;
    transition: width 5s steps(6, end);
}

.box2:hover {
    width: 500px;
}


.box3{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: transform 3s;
}

.box3:hover {
    transform: rotate(20deg);
}

.box4{
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: transform 3s;
}
.box4:hover {
    transform: rotate(90deg) scale(2) translateY(-100%) translateX(40%);
}